@import "utilities.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  font-family:'Source Sans Pro', sans-serif;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

nav {
  padding: 1rem;
}

.brding {
  width: 100%;
  max-width: 190px;
}

.deliver-add {
  gap: 8px;
}

.address {
  gap: 9px;
}

.address i {
  color: #ff8a00;
}

.address h4 {
  color: #787777;
}

.address h4 span {
  color: #000000;
}

.search-login button {
  background: none;
  border: none;
  font-size: 16px;
  margin-right: 0.3rem;
  color: #ff8a00;
}

.search-login button:hover {
  color: #e28010;
}

.search-login input {
  border: none;
  width: 80px;
  margin-right: 1rem;
  color: #000000;
  outline: none;
}

.user button {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 18px;
  background: #ffffff;
  border: none;
  border-radius: 8px;
  color: #ff8a00;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0 15px 22px rgba(255, 138, 0, 0.3);
  cursor: pointer;
}

.user button:hover {
  color: #ffffff;
  background-color: #ff8a00;
  box-shadow: 0 15px 22px rgba(0, 0, 0, 0.3);
}

.hero {
  background: #ffb30e;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 70px;
  padding-bottom: 70px;
}

.hero {
  background: #ffb30e;
  position: relative;
}

.hero-content {
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.hero-content h1 {
  font-size: 58px;
  line-height: 1.1;
  color: #ffffff;

  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #555555;

  margin-bottom: 30px;
}

.order-box {
  background: #ffffff;

  padding: 20px;

  border-radius: 16px;
}

.order-type {
  display: flex;
  gap: 8px;

  padding: 24px;
}

.order-type button {
  display: flex;
  align-items: center;
  gap: 8px;

  border: none;
  background: transparent;

  padding: 10px 15px;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

.deliver {
  width: 148px;
  height: 38px;
  padding: 10px 24px;
}

.order-type .active {
  color: #f17228;
  background: #fff1e8;

  border-radius: 6px;
}

.pickup {
  width: 148px;
  height: 38px;
  padding: 10px 24px;
}

.address-row {
  display: flex;
  gap: 10px;
  width: 670px;
  padding: 24px;
  border-top: 1px solid #e0e0e0;
}

.address-input {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  background: #f5f5f5;
  padding: 13px 15px;
  border-radius: 6px;
}

.address-input i {
  color: #ff7474;
}

.address-input input {
  width: 100%;

  border: none;
  outline: none;

  background: transparent;

  font-size: 14px;
}

.find-food {
  border: none;

  background: #f17228;
  color: #ffffff;

  padding: 0 33px;

  border-radius: 6px;

  font-size: 14px;
  font-weight: 700;

  cursor: pointer;
}

.find-food:hover {
  color: #f17228;
  background-color: #171717;
}

.hero-image {
  position: absolute;
  right: 8rem;
  top: 186px;
}

.hero-image img {
  width: 25rem;
}

.food-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.flesh {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  width: 1160px;
}
.flesh-del {
  margin: 80px 0;
}

.flesh-del img {
  width: 285px;
  border-radius: 16px;
  background-size: cover;
}

.discount {
  width: 140px;
  height: 83px;
  background: orange;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 11px;
  padding-bottom: 10px;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 112px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 60px;
}

.discount h3 {
  font-size: 60px;
}

.discount span {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.discount span b {
  font-size: 30px;
}

.food-name {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 204px;
  height: 82px;
}

.food-name h3 {
  font-size: 20px;
}

.food-name span {
  padding: 8px 16px;
  background-color: #fce3d4;
  color: #f17228;
  border-radius: 8px;
  font-size: 22px;
}




.work-card{
      display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}


section.work{
  background: #ffd37552;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 71px;
    margin: 80px 0;
}

.section-heding{
    display: flex;
    justify-content: center;
    font-size: 43px;
    line-height: 112%;
}

section.work .color-h1{
  color: #F17228;
}

.card{
      display: flex;
    flex-direction: column;
    gap: 41px;
   
}

.card i{
      font-size: 110px;
    color: orange;
    padding-left: 10rem;
}

.card-content h1{
      display: flex;
    justify-content: center;
    font-size: 22px;
}

.card-content p{
      display: flex;
    text-align: center;
    font-size: 20px;
    color: #9E9E9E;
}

section.popular{
      display: flex;
    flex-direction: column;
    gap: 71px;
    height: 1450px;
}

.popular-items{
  display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
}

.popular-card img{
   width: 100%;
    border-radius: 16px;
    background-size: cover;
    margin-bottom: 16px;
}

.popular-content h3{
      margin-bottom: 5px;
    font-size: 22px;
}

.location-card{
        color: #FFB30E;
    margin-bottom: 5px;
    gap: 8px;
}

.order-btn{
  padding: 15px 64px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #ff8a00;
    color: white;
}

.order-btn:hover{
  background-color: #000000;
  color: #F17228;
}